include CHANGELOG.md
include LICENSE.txt
include Makefile
include pyproject.toml
include README.rst
include simde-sse2.h

graft ci
graft doc
graft licenses
graft logos
graft skbio

prune doc/build
prune doc/source/generated
prune web/_build

global-exclude *.pyc
global-exclude *.pyo
global-exclude *.so
global-exclude .*.swp
global-exclude .coverage
