include CHANGELOG.md
include COPYING.txt
include CONTRIBUTING.md
include README.rst
include RELEASE.md
include checklist.py

graft assets
graft doc
graft ipynbs
graft licenses
graft skbio

prune doc/build

global-exclude *.pyc
global-exclude *.pyo
