[build-system]
# https://numpy.org/doc/stable/dev/depending_on_numpy.html#adding-a-dependency-on-numpy
requires = ["Cython>=0.29.32", "oldest-supported-numpy", "setuptools", "wheel"]

[tool.pytest.ini_options]
filterwarnings = [
    "ignore::skbio.util.SkbioWarning",
]

[tool.check-manifest]
ignore = [
    ".coveragerc",
    ".dockerignore",
    ".editorconfig",
    "RELEASE.md",
    "REVIEWING.md",
    "aarch64.Dockerfile",
    "checklist.py",
    # created by conda-incubator/setup-miniconda@v2 action
    "ci/setup-miniconda-patched-conda_host_env.yml",
]

# Basic configurations for Ruff.
# See https://docs.astral.sh/ruff/configuration/
[tool.ruff]
target-version = 'py38'
exclude = [
    'doc/source/conf.py', # excluding because Qiyun is currently working on it.
    'skbio/**/tests/*'    # ignoring to be able to implement pydocstyle
]

[tool.ruff.lint]
select = ['E', 'W', 'D']  # pycodestyle (E, W)
