<style>

#ipython-main-app {  
  background:linear-gradient(to bottom, white 60%, #EEE);
  }
  
#maintoolbar {
    height: 30px;
}
  
div.cell.selected {
  border: none;
  border-radius: 0px;
  margin-left: -2px;
  margin-bottom: 1px;
  margin-top: 1px;
  border-left: 3px solid #259D57;
}

div.out_prompt_overlay {
    display: none !important;
    }

.rendered_html
{
  color: #24372C !important;
  font-family: Ubuntu;
  font-size: 140%;
  line-height: 1.1;
  margin: 0.5em 0;
  }

.title
{
  color: #259D57;
  font-size: 250%;
  font-weight:bold;
  line-height: 1.2; 
  margin: 10px 50px 10px;
  }

.subtitle
{
  color: #259D57;
  font-size: 180%;
  font-weight:bold;
  line-height: 1.2; 
  margin: 20px 50px 20px;
  }

.slide-header, p.slide-header
{
  color: #259D57;
  font-size: 200%;
  font-weight:bold;
  margin: 0px 20px 10px;
  page-break-before: always;
  text-align: center;
  }

.rendered_html h1
{
  color: #259D57;
  line-height: 1.2; 
  margin: 0.15em 0em 0.5em;
  page-break-before: always;
  text-align: center;
  }


.rendered_html h2
{ 
  color: #259D57;
  line-height: 1.2;
  margin: 1.1em 0em 0.5em;
  }

.rendered_html h3
{ 
  font-size: 100%;
  line-height: 1.2;
  margin: 1.1em 0em 0.5em;
  }

.rendered_html li
{
  line-height: 1.8;
  }

.input_prompt, .CodeMirror-lines, .output_area
{
  font-family: Consolas;
  font-size: 120%;
  }

.gap-above
{
  padding-top: 200px;
  }

.gap01
{
  padding-top: 10px;
  }

.gap05
{
  padding-top: 50px;
  }

.gap1
{
  padding-top: 100px;
  }

.gap2
{
  padding-top: 200px;
  }

.gap3
{
  padding-top: 300px;
  }

.emph
{
  color: #386BBC;
  }

.warn
{
  color: red;
  }

.center
{
  text-align: center;
  }

.nb_link
{
    padding-bottom: 0.5em;
}

a, a:visited, a:active, a:hover {
  color: #00B84D;
  }

</style>
